@charset "UTF-8";

/* HTML Tags */
:root {  
    --main-color:#9BB4DE;
    --accent-color:#3A5B91;
    --dark-color:#253B5E;
    --text-bright-color:#fff;
}
body { 
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
/* ===== */

/* Main Page*/
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url(img/background1.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    color: var(--text-bright-color);
    text-align: center;
}
/* ===== */

/* Contents */
.comment {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.container { 
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    
}
@media (min-width: 768px) {
    .comment {
        font-size: 2em;
        letter-spacing: 0.3em;
        margin-left: 0.3em;
    }
    .reference {
        font-size: 20px;
        text-align: right;
        margin-right: 10px;
    }
}
@media (max-width: 768px) {
    p {
        font-size: 16px;
    }
    .comment {
        font-size: 1em;
        letter-spacing: 0.1em;
        margin-left: 0.1em;
    }
    .reference {
        font-size: 15px;
        text-align: right;
        margin-right: 20px;
    }
}
/* ===== */

/* Search */
.search-container{
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
.search .input {
    width: 30vw;
    height: 2.5vh;
    padding: 20px;
    background-color: rgba(256, 256, 256, 0.2);
    border-radius: 15px;
    border-color: rgba(256, 256, 256, 0.8);
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    transition: .5s ease;
    position: relative;
}
.search select {
    position: absolute;
    width: 7vh;
    height: 7vh;
    padding: 0;
    border: 0;
    top: 0;
    left: 0;
    font-size: 2em;
    font-family: 'Noto Sans KR', sans-serif;
    font-stretch: expanded;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #fff;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

select::-ms-expand {
    display: none;
}
.search .input:hover, .search .input:focus {
    border-color: rgba(256, 256, 256, 1);
    background-color: rgba(256, 256, 256, 0.4);
    color: rgb(30, 30, 30);
    transition: .5s ease;
}
.search .input:hover::placeholder, .search .input:focus::placeholder {
    color: rgb(30, 30, 30);
}
@media (max-width: 768px) {
    .search .input:hover, .search .input:focus {
        width: 70vw;
        transition: .5s ease;
    }
}
/* ===== */

/* Site List */
.site-link ul {
    margin-top: 30px;
    list-style: none;
    padding: 0;
}
.site-link li { 
    display: inline-block;

}
@media (min-width: 768px) {
    .site-link .desktop li {
        position: relative;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        background-color: #fff;
        margin: 0.5em;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
    }
    .google {
        background: url("img/google.png");
    }
    .naver {
        background: url("img/naver.png");
    }
    .ebsi {
        background: url("img/ebsi.png");
    }
    .daesung {
        background: url("img/daesung.png");
    }
    .megastudy {
        background: url("img/megastudy.png");
    }
    .skyedu {
        background: url("img/skyedu.png");
    }
    .etoos {
        background: url("img/etoos.png");
    }
    .site-link .desktop span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding-top: 3.5vh;
    }
    .site-link .desktop span:hover {
        opacity: 1;
        transition: .5s ease;
    }
    .site-link .phone {
        display: none;
    }
}
@media (max-width: 768px) {
    .site-link .desktop {
        display: none;
    }
    .site-link .phone {
        display: none;
    }
}
/* ===== */

/* Footer */
.footer {
    position: absolute;
    bottom: 20px;
}
.footer ul {
    padding: 0;
    list-style: none;
}
.footer li {
    display: inline-block;
}

.support-overlay {
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease;
    pointer-events: none;
}
@media (min-width: 768px) {
    .support-overlay {
        position: absolute;
        width: 30vw;
        height: 15vh;
        top: -15vh;
        left: 10vh;
    }
}
@media (max-width: 768px) {
    .footer {
        font-size: 15px;
    }
    .footer ul {
        margin: 10px;
    }
    .support-overlay {
        position: fixed;
        width: 90vw;
        height: 17vh;
        top: 1vh;
        left: 2.5vw;
    }
}
.adsbygoogle{
    width: 320px;
    height: 100px;
}
.support, .support-content {
    font-style: normal;
}
.support-content:hover~.support-overlay {
    pointer-events: auto;
    opacity: 1;
    transition: .5s ease;
}
/* ===== */