@charset "UTF-8";

/* HTML Tags */
:root {  
    --main-color:#9BB4DE;
    --accent-color:#3A5B91;
    --dark-color:#253B5E;
    --text-bright-color:#fff;
}
body { 
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
/* ===== */

/* Main Page*/
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url(img/background1.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    color: var(--text-bright-color);
    text-align: center;
}
/* ===== */

/* Contents */
.comment {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.container { 
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    
}
@media (min-width: 768px) {
    .comment {
        font-size: 2em;
        letter-spacing: 0.3em;
        margin-left: 0.3em;
    }
    .reference {
        font-size: 20px;
        text-align: right;
        margin-right: 10px;
    }
    .counter {
        font-size: 30px;
    }

}
@media (max-width: 768px) {
    .comment {
        font-size: 1em;
        letter-spacing: 0.1em;
        margin-left: 0.1em;
    }
    .reference {
        font-size: 15px;
        text-align: right;
        margin-right: 20px;
    }
    .counter {
        font-size: 16px;
    }}
/* ===== */

/* Search */
.search-container{
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
.search .input {
    width: 30vw;
    height: 2.5vh;
    padding: 20px;
    padding-left: 70px;
    background-color: rgba(256, 256, 256, 0.2);
    border-radius: 15px;
    border-color: rgba(256, 256, 256, 0);
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    transition: .5s ease;
    position: relative;
}
.select-provider {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5vh;
    height: 2.5vh;
    margin: 2px;
    padding: 20px;
    background-color: rgba(256, 256, 256, 0.2);
    border-radius: 13px;
    transition: .5s ease;
}
.select-provider:hover {
    background-color: rgba(256, 256, 256, 0.5);
    transition: .5s ease;
}
.search .input:hover, .search .input:focus {
    border-color: rgba(256, 256, 256, 1);
    background-color: rgba(256, 256, 256, 0.4);
    color: #fff;
    transition: .5s ease;
}
.search .input:hover::placeholder, .search .input:focus::placeholder {
    color: #fff
}
.icon {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.icon-google {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0ODggNTEyIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNNDg4IDI2MS44QzQ4OCA0MDMuMyAzOTEuMSA1MDQgMjQ4IDUwNCAxMTAuOCA1MDQgMCAzOTMuMiAwIDI1NlMxMTAuOCA4IDI0OCA4YzY2LjggMCAxMjMgMjQuNSAxNjYuMyA2NC45bC02Ny41IDY0LjlDMjU4LjUgNTIuNiA5NC4zIDExNi42IDk0LjMgMjU2YzAgODYuNSA2OS4xIDE1Ni42IDE1My43IDE1Ni42IDk4LjIgMCAxMzUtNzAuNCAxNDAuOC0xMDYuOUgyNDh2LTg1LjNoMjM2LjFjMi4zIDEyLjcgMy45IDI0LjkgMy45IDQxLjR6Ii8+PC9zdmc+);
}
.icon-naver {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2IiB2aWV3Qm94PSIwIDAgMjU2IDI1NiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTEzLDI3VjIyOS45NzJIOTEuNTRWMTI2LjcwNmw3NC44NDQsMTAzLjI4NUwyNDQsMjI5Ljk3MlYyNy4wMDlIMTY2LjM4NFYxMjguNDg2TDkyLjQ2NCwyNy4wMDlaIi8+PC9zdmc+);
}
.dropdown-overlay {
    position: absolute;
    background-color: rgba(256, 256, 256, 0.2);
    border: solid;
    border-color: #fff;
    border-radius: 5px;
    border-width: 1px;
    z-index: 5;
    transition: .5s ease;
    top: -65px;
    padding: 5px;
}
.dropdown-object {
    display: inline-block;
    position: relative;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}
.dropdown-object input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.dropdown-icon {
    width: 20px;
    height: 20px;
}
@media (max-width: 768px) {
    .search .input:hover, .search .input:focus {
        width: 70vw;
        transition: .5s ease;
    }
}
/* ===== */

/* Site List */
.site-link ul {
    margin-top: 30px;
    list-style: none;
    padding: 0;
}
.site-link .phone {
    width: 40vw;
    text-align: left;
    padding: 20px;
    transition: .5s ease;
}
.site-link .phone li {
    padding: 2.5px;
    padding-left: 30px;
}
.site-link .phone li:hover {
    background-color: rgba(256, 256, 256, 0.5);
    transition: .5s ease;
}
@media (min-width: 768px) {
    .site-link li { 
        display: inline-block;
    }    
    .site-link .desktop li {
        position: relative;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        background-color: #fff;
        margin: 0.5em;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        font-size: 16px;
    }
    .desktop .google {
        background: url("img/google.png");
    }
    .desktop .naver {
        background: url("img/naver.png");
    }
    .desktop .ebsi {
        background: url("img/ebsi.png");
    }
    .desktop .daesung {
        background: url("img/daesung.png");
    }
    .desktop .megastudy {
        background: url("img/megastudy.png");
    }
    .desktop .skyedu {
        background: url("img/skyedu.png");
    }
    .desktop .etoos {
        background: url("img/etoos.png");
    }
    .site-link .desktop span {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding-top: 3.5vh;
    }
    .site-link .desktop span:hover {
        opacity: 1;
        transition: .5s ease;
    }
    .site-link .phone {
        display: none;
    }
}
@media (max-width: 768px) {
    .site-link li { 
        display: block;
        font-size: 18px;
        background-color: rgba(256, 256, 256, 0);
        transition: .5s ease;    
    }    
    .site-link .desktop {
        display: none;
    }
    .link-icon {
        width: 13px;
        height: 13px;
        margin: 0;
        margin-right: 4px;
    }
}
/* ===== */

/* Footer */
.footer {
    position: absolute;
}
.footer ul {
    padding: 0;
    list-style: none;
}
.footer li {
    display: inline-block;
}
.support-overlay {
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease;
    pointer-events: none;
}
@media (min-width: 768px) {
    .footer {
        bottom: 20px;
    }    
    .support-overlay {
        position: absolute;
        width: 30vw;
        height: 15vh;
        top: -15vh;
        left: 10vh;
    }
}
@media (max-width: 768px) {
    .footer {
        bottom: 10px;
        font-size: 15px;
    }
    .footer ul {
        margin: 10px;
    }
    .support-overlay {
        position: fixed;
        width: 90vw;
        height: 17vh;
        top: 1vh;
        left: 2.5vw;
    }
}
.adsbygoogle{
    width: 320px;
    height: 100px;
}
.support, .support-content {
    font-style: normal;
}
.support-content:hover~.support-overlay {
    pointer-events: auto;
    opacity: 1;
    transition: .5s ease;
}
/* ===== */
